.info-box{
    text-align: center;
    border: solid;
    border-radius: 10px;
    margin-top: 2%;
    margin-left: 12%;
    margin-right: 12%;
    padding: 2%;
    background-color: #F6F2EC;
}

.locale-name{
    display: inline;
    padding-right: 16%;
    color: #748398;
    font-size: 20px;
}

.locale-temp{
    display: inline;
    padding-right: 16%;
    color: #748398;
    font-size: 20px;
}

.locale-feels-like{
    display: inline;
    padding-right: 16%;
    color: #748398;
    font-size: 20px;
}

.locale-weather{
    display: inline;
    padding-right: 16%;
    color: #748398;
    font-size: 20px;
}

.locale-wind-speed{
    display: inline;
    padding-right: 16%;
    color: #748398;
    font-size: 20px;
}

.locale-time{
    display: inline;
    color: #748398;
    font-size: 20px;
}