.header-end {
  display: inline;
}

.header{
  display: inline;
  padding-right: 4%;
}

.headers{
  text-align: center;
  margin-left: 12%;
  margin-right: 12%;
}

.vertical-line {
  border-left: solid;
  padding-left: 4%;
}

.app{
  text-align: center;
}